<a href="https://colab.research.google.com/github/Arshdeepkaur3560/assignments/blob/main/assignments_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Assignment.1**

### 1.Create variables to store your name (string), age (integer), and course (string). Print all of them using a single print() statement.

In [ ]:
name="khushdeep kaur"
age=18.5
course="b.Tech"
print(name,age,course)

khushdeep kaur 18.5 b.Tech

###  2.Write a program to swap two numbers without using a third variable. Example: a = 4, b = 9.

In [ ]:
a=4
b=9
a,b=b,a
print(a,b)

9 4

### 3.Take two numbers from the user and display:
• Sum
• Difference
• Product
• Quotient
• Remainder

In [ ]:
a=12
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

16
8
48
3.0
0

#### 4.Take marks of 5 subjects and calculate the total and percentage

In [ ]:
english=80
punjabi=80
maths=79
science=79
hindi=80
total=english+punjabi+maths+science+hindi
print(total/400*100)

99.5

### 5.Start with x = 10. Then:
• Add 5 using +=
• Multiply by 2 using *=
• Subtract 4 using -=
• Divide by 2 using /=
Print the value after each operation.

In [ ]:
x=10
x+=2
print(x)
x=10
x*=2
print(x)
x=10
x-=4
print(x)
x=10
x/=2
print(x)

12
20
6
5.0

### 6.Write a program that compares two numbers and prints:
• Whether they are equal
• Whether the first is greater
• Whether the second is greater

In [ ]:
a=24
b=18
print(a==b)
print(a>b)
print(a<b)

False
True
False

#### 7.Write a program that compares two numbers and prints:
• Whether they are equal
• Whether the first is greater
• Whether the second is greater

In [ ]:
is_raining= True
have_umbrella=False
print(is_raining and have_umbrella)
print(is_raining or have_umbrella)

False
True

### 8.Create two identical lists and compare them using:
• ==
• is
Print and explain the result.

In [ ]:
l1=[12,45,56,34,15]
l2=[12,45,56,34,15]
print(l1==l2)
print(l1 is l2)

True
False

### 9.Take two numbers and show the result of:
• Bitwise AND (&)
• Bitwise OR (|)
• Bitwise XOR (^)

In [ ]:
n1=1011
n2=1110
print(n1 & n2)
print(n1 | n2)
print(n1 ^ n2)

82
2039
1957

#### 10.Take user input for an integer and a float. Add them and print:
• Their types using type()
• Their sum as an integer

In [ ]:
a=5
n=float(a)
print(n)
print(type(n))

5.0
<class 'float'>

## **Assignment.2**

## 1. WAP to print number 1 to 10 but stop the loop when number reach 9

In [ ]:
count=0
while (count<10):
  print(count)
  count=count+1

0
1
2
3
4
5
6
7
8
9

## 2.WAP that keep asking the user to enter the number and stop when the user enter a negative number

In [ ]:
while True:
  r=int(input("enter the number="))
  if (r>0):
    print("number is positive")
  else:
    print("number is negative")
    break

enter the number=67
number is positive
enter the number=-6
number is negative

## 3.WAP to find first even number in a list using a for loop and break

In [ ]:
L=[1,3,5,6,3,78,89,88,78,76,99,55,33]
for i in range (len(L)):
  if (L[i]%2==0):
    print("first even number is ",L[i])
    break

first even number is  6

## 4. keep adding number onwords until total sum exceeds 25 print last sum and digit

In [ ]:
sum=0
for i in range(0,50):
  sum+=i
  if sum<25:
    print("last sum=",sum)
    print("last digit =",i)

last sum= 0
last digit = 0
last sum= 1
last digit = 1
last sum= 3
last digit = 2
last sum= 6
last digit = 3
last sum= 10
last digit = 4
last sum= 15
last digit = 5
last sum= 21
last digit = 6

## 5.keep asking the user to guess the password until they guess admin123 . use while and break

In [ ]:
while True:
  x=input("enter the password:")
  if (x=="admin123"):
    print("correct pass")
    break
  else:
    print("wrong pass")

enter the password:6785
wrong pass
enter the password:admin123
correct pass

## 6. Print the multiples of 7 using while loop stop if value is greater than 100

In [ ]:
count=0
while (count<100):
  print(count)
  count+=7

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

## 7. Give a number, print each digit until zero is found

In [ ]:
y=input("enter the number=")
for i in y:
    if i=="0":
      print("zero is found")
      break
    print(i)

enter the number=2540978640
2
5
4
zero is found

In [ ]:
for i in range(1,20):
  n=input("enter the value =")
  if n=="0":
    print("zero is found")
    break
  print(i)
3

enter the value =3
1
enter the value =6
2
enter the value =9
3
enter the value =0
zero is found

#### **Assignment 3**

### 1. Take a sentence and reverse the order of its words. Example: "I love Python" → "Python love I"

In [ ]:
sentence="i love python"
words=sentence.split()
words.reverse()
reversed_sentence=' '.join(words)
print(reversed_sentence)

python love i

### 2. Given a string, count consonants (non-vowel letters, ignoring case). Example: "Hello World" →
7 (H, l, l, W, r, l, d).

In [ ]:
x=input("enter a string: ")
vowels='aeiouAEIOU'
consonants=[i for i in x if i.isalpha() and i not in vowels]
count=len(consonants)
print(f"{count}({','.join(consonants)})")

enter a string: hello world
7(h,l,l,w,r,l,d)

### 3.Check if two strings are anagrams (same characters, same frequency, ignoring case).
Example: "Listen", "Silent" → "Anagram", "Hello", "World" → "Not Anagram".

In [ ]:
s1="listen"
s2="silent"
s1_sorted=sorted(s1.lower())
s2_sorted=sorted(s2.lower())
if s1_sorted==s2_sorted:
  print("anagram")
else:
  print("not anagram")

anagram

### 4. Find the first character in a string that appears only once (case-sensitive). Example: "swiss" →
"w", "programming" → "r".

In [ ]:
string="swiss"
for ch in string:
  if string.count(ch)==1:
    print(ch)
    break

w

### 5.Compress a string by replacing repeated characters with the character and count. Example:
"aaabbc" → "a3b2c1". If compressed string isn’t shorter, return original.

In [ ]:
s="aaabbc"
compressed=""
i=0
while i<len(s):
  count=1
  while i+1<len(s) and s[i]==s[i+1]:
    count+=1
    i+=1
  compressed+=s[i]+str(count)
  i+=1
if len(compressed)<len(s):
    print(compressed)
else:
    print(s)

aaabbc

### 6.Find the longest substring in a string that is a palindrome (case-sensitive). Example: "babad" →
"bab" (or "aba"), "cbbd" → "bb". If multiple exist, return the first.

In [ ]:
s="babab"
max_len=0
result=""
for i in range(len(s)):
  for j in range(i+1,len(s)+1):
    substr=s[i:j]
    if substr==substr[::-1] and len(substr)>max_len:
      result=substr
      max_len=len(substr)
      print(result)

b
bab
babab

### 7.Given a string containing only '(', ')', '{', '}', '[', ']', check if the sequence is valid (properly nested
and closed). Example: "({[]})" → "Valid", "(]" → "Invalid".

In [ ]:
s="({[]})"
stack=[]
mapping={')':'(','}':'{',']':'['}
valid=True
for ch in s:
  if ch in mapping.values():
    stack.append(ch)
  elif ch in mapping:
    if not stack or stack.pop()!=mapping[ch]:
      valid=False
      break
if stack:
    valid=False
print("valid" if valid else"invalid")

valid

### 8. Given a start word, end word, and a list of valid words, find the minimum number of steps to
transform the start word to the end word by changing one letter at a time, where each
intermediate word must be in the list. All words are same length, lowercase. Example:
start="hit", end="cog", wordList=["hot","dot","dog","lot","log","cog"] → 5 (hit → hot → dot → dog →
cog). Return 0 if impossible.

In [ ]:
from collections import deque

start="hit"
end="cog"
wordList=["hot","dot","dog","lot","log","cog"]
wordSet=set(wordList)
queue=deque([(start,1)])
while queue:
  word,steps=queue.popleft()
  if word==end:
    print(steps)
    break
  for i in range(len(word)):
    for ch in 'abcdefghijklmnopqrstuvwxyz':
      next_word=word[:i]+ ch + word[i+1:]
      if next_word in wordSet:
        wordSet.remove(next_word)
        queue.append((next_word,steps+1))
else:
  print(0)
end="cog"
wordList=["hot","dot","dog","lot","log","cog"]
wordSet=set(wordList)
queue=deque([(start,1)])
while queue:
  word,steps=queue.popleft()
  if word==end:
    print(steps)
    break
  for i in range(len(word)):
    for ch in 'abcdefghijklmnopqrstuvwxyz':
      next_word=word[:i]+ ch + word[i+1:] # Corrected variable name 'c' to 'ch'
      if next_word in wordSet:
        wordSet.remove(next_word)
        queue.append((next_word,steps+1))
else:
  print(0)

5
5

#### **Assignment.4**

### 1. Create a dictionary of 5 students with their names as keys and marks as values. Print all
the keys and values.

In [ ]:
# Creating a dictionary of students with their marks
students = {
    "khusi": 85,
    "sukh": 92,
    "Amrit": 78,
    "gur": 88,
    "prabh": 95
}
print(students)

{'khusi': 85, 'sukh': 92, 'Amrit': 78, 'gur': 88, 'prabh': 95}

### 2. Write a program to count the frequency of each character in a given string using a
dictionary.

In [ ]:
x=input("enter the string=")
frequency={}
for i in x:
  if i in frequency:
    frequency[i]+=1
  else:
      frequency[i]=1
  print(frequency)

enter the string="hello world"
{'"': 1}
{'"': 1, 'h': 1}
{'"': 1, 'h': 1, 'e': 1}
{'"': 1, 'h': 1, 'e': 1, 'l': 1}
{'"': 1, 'h': 1, 'e': 1, 'l': 2}
{'"': 1, 'h': 1, 'e': 1, 'l': 2, 'o': 1}
{'"': 1, 'h': 1, 'e': 1, 'l': 2, 'o': 1, ' ': 1}
{'"': 1, 'h': 1, 'e': 1, 'l': 2, 'o': 1, ' ': 1, 'w': 1}
{'"': 1, 'h': 1, 'e': 1, 'l': 2, 'o': 2, ' ': 1, 'w': 1}
{'"': 1, 'h': 1, 'e': 1, 'l': 2, 'o': 2, ' ': 1, 'w': 1, 'r': 1}
{'"': 1, 'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1}
{'"': 1, 'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}
{'"': 2, 'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

### 3. Create a dictionary with names as keys and ages as values. Print the name(s) of the oldest
person(s).

In [ ]:
dict_ages={"sam":21, "khushi":18.5,"sukh":37,"sarb":40,"jagg":16.5}
oldest_people=max(dict_ages.values())
print("oldest people is:")
for i,j in dict_ages.items():
 if j==oldest_people:
  print(i)

oldest people is:
sarb

### 4. Merge two dictionaries and print the merged dictionary.

In [ ]:
dict1={'sam':21,'khushi':18.5,'sukh':37,'sarb':40,'jagg':16.5}
dict2={'s1':'s','k1':'k','s2':'s','s3':'s','j1':'j'}
print("dict1:",dict1)
print("dict2:",dict2)
dict1.update(dict2)
print("after merging:",dict1)

dict1: {'sam': 21, 'khushi': 18.5, 'sukh': 37, 'sarb': 40, 'jagg': 16.5}
dict2: {'s1': 's', 'k1': 'k', 's2': 's', 's3': 's', 'j1': 'j'}
after merging: {'sam': 21, 'khushi': 18.5, 'sukh': 37, 'sarb': 40, 'jagg': 16.5, 's1': 's', 'k1': 'k', 's2': 's', 's3': 's', 'j1': 'j'}

### 5. Create a dictionary where the keys are numbers between 1 and 10, and the values are
their squares

In [ ]:
dict={}
for i in range(1,11):
  dict[i]=i*i

print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### 6. Write a program that inverts a dictionary (i.e., swaps keys and values). Assume all values
are unique.

In [ ]:
dict={'a':1,'b':2,'c':3,'d':4,'e':5}

dict_i={}

for key,value in dict.items():
  dict_i[value]=key

print("initial:",dict)
print("invrted:",dict_i)

initial: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
invrted: {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

### 7. Given a nested dictionary of students and their subject-wise marks, calculate and print
the average marks for each student.

In [ ]:
dict_students={'sam':{'maths':85,'english':90,'science':85,'punjabi':96},
              'khushi':{'maths':99,'english':99,'science':98,'punjabi':98},
              'sukh':{'maths':85,'english':95,'science':90,'punjabi':96},
              'deepu':{'maths':88,'english':92,'science':85,'punjabi':96}}

for name,marks in dict_students.items():
  total_marks=sum(marks.values())
  avg_marks=total_marks/len(marks)
  print(name,avg_marks)

for name,marks in dict_students.items():
  total_marks=sum(marks.values())
  avg_marks=total_marks/len(marks)
  print(name,avg_marks)

sam 89.0
khushi 98.5
sukh 91.5
deepu 90.25
sam 89.0
khushi 98.5
sukh 91.5
deepu 90.25

### 8. Write a program to group words by their length from a list using a dictionary.

In [ ]:
a=input("enter the word seperated by space(without comma): ")


word=a.split()
length={}
for i in word:
  l=len(i)
  if l in length:
    length[l].append(i)
  else:
    length[l]=[i]
print(length)

enter the word seperated by space(without comma): apple banana watermelon
{5: ['apple'], 6: ['banana'], 10: ['watermelon']}

### 10. Create a program that takes a list of tuples (name, score) and builds a dictionary
where each name is a key, and the value is a list of all their scores. Then calculate and print
each person's average score.

In [ ]:
people=[('sam',85),
        ('khushi',90), # Added missing comma
        ('sukh',98),   # Added missing comma
        ('sarb',92),   # Added missing comma
        ('jagg',88)]
# Removed the incorrect indentation from the line below
person_scores={}
for name,score in people:
  if name in person_scores: # Changed variable name from dict to person_scores
    person_scores[name].append(score) # Changed variable name from dict to person_scores
  else:
    person_scores[name]=[score] # Changed variable name from dict to person_scores

for name,scores_list in person_scores.items(): # Changed variable name from dict to person_scores and score to scores_list
    avg_score=sum(scores_list)/len(scores_list) # Changed variable name from score to scores_list
    print(name,avg_score)

sam 85.0
khushi 90.0
sukh 98.0
sarb 92.0
jagg 88.0

### **Assignment.5**

### 1.WAP to make a pyramid.

In [ ]:
def pyramid(n,current=1):
    if current > n :
        return
    spaces=' ' * (n-current)
    stars='*'*(2*current-1)
    print(spaces+stars)
    pyramid(n,current+1)
n=int(input("enter no.of lines:"))
pyramid(n)

enter no.of lines:5
    *
   ***
  *****
 *******
*********

### 2.WAP to generate a pattern like star.
### *
### **
### ***
### ****

In [ ]:
def pattern(n,current=1):
  if (current > n):
   return
  print('*'* current)
  pattern(n,current+1)
n=int(input("enter no.of lines:"))
print(pattern(n))

enter no.of lines:4
*
**
***
****
None

### 3.WAP to draw square pattern like star.

In [ ]:
def square_pattern(n):
  for i in range(n):
    print(" * " * n)

size=int(input("enter the size of square:"))
square_pattern(size)

enter the size of square:5
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

### 4.WAP to draw a circular pattern like star.

In [ ]:
import math
radius=int(input("enter the radius of circle:"))
for i in range(-radius,radius+1):
  for j in range(-radius,radius+1):
    if abs(i**2+j**2-radius**2)<radius:
      print("*",end="")
    else:
      print(" ",end="")
  print()

enter the radius of circle:6
    *****
  **     **
 **       **
 *         *
*           *
*           *
*           *
*           *
*           *
 *         *
 **       **
  **     **
    *****

### 5.WAP to draw a rectangular pattern like star.

In [ ]:
rows=int(input("enter the number of rows:"))
colms=int(input("enter the number of colms:"))
for i in range(rows):
  print("*"*colms)

enter the number of rows:5
enter the number of colms:7
*******
*******
*******
*******
*******

### **Assignment.6**

### 1.write a program to create a tuple with different data types and print its type.

In [ ]:
data=('hello world',13,1.3,True)
print(data)
print(type(data))

('hello world', 13, 1.3, True)
<class 'tuple'>

### 2.Given a tuple t=(10,20,30,40,50),write a program to access the second last element.

In [ ]:
t=(10,20,30,40,50)
second_last_element=t[-2]
print("second last element of given tuple is:",second_last_element)

second last element of given tuple is: 40

### 3.. Write a program to count the number of times a given element appears in a tuple.

In [ ]:
tuple=(1,2,5,6,5,3,5,8,4,1,9,1,2,0,6,3,4,14)
t=tuple.count(5)
print(t)

3

###  4. Write a program to convert a tuple of strings into a single string. Example: ('Python', 'is', 'fun') -->
 'Python is fun'

In [ ]:
tuple_of_strings=('python','is','fun')
single_string=' '.join(tuple_of_strings)
print(single_string)

python is fun

###  5. Write a Python program to find the index of an element in a tuple.

In [ ]:
my_tuple=(1,2,3,4,5,6,7,8,9,10)
t=my_tuple.index(4)
print(t)

3

###  Set Questions:
 6. Write a Python program to create two sets and perform union, intersection, and difference
 operations.

In [ ]:
set1={10,20,30,40,50}
set2={10,40,30,55,80}
union=set1.union(set2)
print("union:",union)
intersection=set1.intersection(set2)
print("intersection:",intersection)
difference=set1.difference(set2)
print("difference:",difference)

union: {40, 10, 80, 50, 20, 55, 30}
intersection: {40, 10, 30}
difference: {50, 20}

###  7. Write a program to check if a given element is present in a set or not.

In [ ]:
set1={10,20,30,40,50}
element=int(input("enter the element"))
if element in set1:
  print("element is present in set1")
else:
  print("element is not present in set1")

enter the element66
element is not present in set1

###  8. Write a program to remove duplicate elements from a list using a set.

In [ ]:
my_list=[10,20,40,80,10,20,30,50,60]
unique=list(set(my_list))
print(unique)

[40, 10, 80, 50, 20, 60, 30]

###  9. Write a Python program to find the symmetric difference between two sets.

In [ ]:
set1={'blue','black','green','grey'}
set2={'orange','grey','black','pink'}
symmetric_difference=set1.symmetric_difference(set2)
print(symmetric_difference)

{'green', 'pink', 'orange', 'blue'}

###  10. Given a list of numbers, write a Python program to find all unique elements using sets.

In [ ]:
list=[2,9,8,4,5,6,8,9,10,4,1,2,3,4,5,6,7,8,9,10]
unique=set(list)
print("unique elements:",unique)

unique elements: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### **Assignment.7**

###  1. Write a function to find the factorial of a number using recursion.

In [ ]:
def factorial(n):
  if n<0:
      return "facorial is not defined for negative numbers"
  elif n==0 or n==1:
      return 1
  else:
      result=1
      for i in range(2,n+1):
          result*=i
      return result
n=int(input("enter the number:"))
print(factorial(n))

enter the number:6
720

###  2. Write a function that checks whether a number is prime or not.

In [ ]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5+1)):
        if n%i==0:
            return False
    return True
n=int(input("enter the number:"))
print(is_prime(n))

enter the number:10
False

###  3. Create a function that takes a string as input and returns the number of vowels in it.

In [ ]:
def count_vowels(s):
  vowels='aeiouAEIOU'
  count=0
  for char in s:
    if char in vowels:
      count+=1
  return count
x=input("enter the string:")
print(count_vowels(x))

enter the string:hello world
3

###  4. Write a function that accepts a list of numbers and returns the maximum and minimum values.

In [ ]:
def max_min(number):
  h=max(number)
  l=min(number)
  return h,l
s=list(map(int,input("enter the number:").split(',')))
h,l=max_min(s)
print("maximum value is:",h)
print("minimum value is:",l)

enter the number:1,2,3,5,10,41,15,26,0
maximum value is: 41
minimum value is: 0

###  5. Write a Python function to calculate the nth Fibonacci number using recursion.

In [ ]:
def fibonacci(f):
  if f<=0:
    return "enter the positive number"
  elif f==1:
    return 0
  elif f==2:
    return 1
  else: # Indent the rest of the code to be part of the else block
    a,b=0,1
    for _ in range (3, f): # Changed range upper limit to f as range is exclusive
      a,b=b,a+b
    return b
x=int(input("enter the number:"))
print(fibonacci(x))

enter the number:13
89

###  6. Create a function that accepts two numbers and returns their greatest common divisor (GCD).

In [ ]:
def number(a,b):
  while b !=0:
    a,b=b,a%b
  return a

### **Assignment.11**

### 1. Load the dataset and display the first 10 rows.

In [ ]:
import pandas as pd
assignment11 = pd.read_csv('assignment11')

FileNotFoundError: [Errno 2] No such file or directory: 'assignment11'

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/assignment11.csv')
df.head(10)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')